/* header  */
.top-bar {
  background-color: #9aa6b2;
}
.social-media-icons {
  height: 30px;
  color: #fff;
}
.search {
  height: 30px;
  color: #fff;
}

.menu-area {
  background-color: #f8fafc;  
}

.main-menu ul li a,
.footer-menu ul li a {
  color: #001F3F;
}
.main-menu ul li,
.footer-menu ul li {
  display: inline;
  margin-left: 2%;
  font-size: 1.2rem;
}


/* Services section  */
.services {
background-color: #89A8B2;
height: 100px;
text-align: center;
}

/* middle-area section */

.middle-area {
  padding: 2% 0;
}

.sidebar  {
  background-color: #E5E1DA ;

}

/* post thumbnail */
.wp-post-image {
  float: left;
  margin: 0 15px 10px 0;
}

.blog article {
  display: inline-block;
  background-color: #d9eafd;
  margin: 2% 0;
  padding: 4%;
  border-radius: 25px;
}

.blog .post_format {
  display: inline-block;
  padding: 5px 10px;
  color: #f8fafc;
  background-color: #bcccdc;
  border-radius: 10px;
}

.blog article h2 {
  border-bottom: 2px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

/* footer section */

footer {
  background-color: #000;
  color: #fff;
  padding: 5px 0;
}


.footer-menu ul li a {
  color: #fff;
}