/* header  */
.top-bar {
  background-color: #9aa6b2;
  height: 50px;
  padding: 6px;
}
/* .social-media-icons .social-icon {
   width: 10px; 
} */
/* .search { */
/* height: 30px; */
/* color: #fff; */
/* } */

.menu-area {
  background-color: #f8fafc;
}

.main-menu ul li a,
.footer-menu ul li a {
  color: #001f3f;
}
.main-menu ul li,
.footer-menu ul li {
  display: inline;
  margin-left: 2%;
  font-size: 1.2rem;
}

/* Services section  */
.services {
  background-color: #89a8b2;
}

/* middle-area section */

.middle-area {
  padding: 2% 0;
}

/* sidebar */
.sidebar {
  background-color: #e5e1da;
}

/* sidebar contact form */
.wpcf7-form button,
input,
optgroup,
select,
textarea {
  width: 100%;
}

/* servicves */

.services-item {
  background-color: #f8fafc;
  padding: 20px 15px;
  height: 550px;
  border-radius: 10px;
}

.services-item .wp-block-image {
  height: 225px;
  border: 4px solid #9aa6b2;
  background-color: #f8fafc;
  margin-bottom: 10px;
}

.services-item .wp-block-image img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.services-item .wp-block-heading {
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 2px #89a8b2 solid;
}

/* news section  */
.news article {
  display: inline-block;
  background-color: #f8fafc;
  width: 100%;
  margin: 2% 0;
  padding: 4%;
  border-radius: 25px;
}
.news h2 {
  font-size: 1.4rem;
  background-color: #9aa6b2;
  color: #fff;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.news .thumbnail .wp-post-image {
  float: none;
  width: 100%;
}

/* blogs  */

/* post thumbnail */
.wp-post-image {
  float: left;
  margin: 0 15px 10px 0;
}

.blog article {
  display: inline-block;
  background-color: #f8fafc;
  width: 100%;
  margin: 2% 0;
  padding: 4%;
  border-radius: 25px;
}

.blog .post_format {
  display: inline-block;
  padding: 5px 10px;
  color: #f8fafc;
  background-color: #bcccdc;
  border-radius: 10px;
}

.blog article h2 {
  padding-bottom: 10px;
  margin-bottom: 25px;
}

/* google map  */

.map {
  padding-bottom: 5%;
}

.map .googlemap {
  width: 100%;
  height: 400px;
}

/* footer section */

footer {
  background-color: #000;
  color: #fff;
  padding: 5px 0;
}

.footer-menu ul li a {
  color: #fff;
}
